.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: #000;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: #373a47;
    font-size: 1.15em;
}

.bm-item-list {
    padding: 0.8em;
}

.bm-item {
    display: block;
    color: #bdc3c7;
}
