.MuiDataGrid-columnHeaderTitle{
    font-weight: bold;
}

.MuiDataGrid-cell--textLeft{
   /*text-align: center;;*/
}

h2{
    padding-top: 10px !important;
    margin-top: 0 !important;
}

.MuiButtonGroup-contained{
    margin-top: 488px;
}
